<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>prjEpicerieJeanguy</display-name>
  <welcome-file-list>
    <welcome-file>go</welcome-file>
    <welcome-file>accueil.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>connStr</param-name>
    <param-value>jdbc:mysql://localhost:3306/bdepicerie?user=userDB&amp;password=123456</param-value>
  </context-param>
  <context-param>
    <param-name>paramAction</param-name>
    <param-value>jobToDo</param-value>
  </context-param>
  <context-param>
    <param-name>urlController</param-name>
    <param-value>go</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ControleurServlet</display-name>
    <servlet-name>ControleurServlet</servlet-name>
    <servlet-class>com.isi.rm.prjepiceriejeanguy.controllers.ControleurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurServlet</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
</web-app>